@model MtgCustomCardsApp0._2.Models.Card

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdateCardToDatabase", "Cards", "Post"))
{
    
    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />

    <label asp-for="CardText" class="control-label">Text</label>    
    <input type="text" name="CardText" class="form-control" value="@Model.CardText" />
                                                                                             
    <label asp-for="CardFlavorText" class="control-label">Flavor Text</label>    
    <input type="text" name="CardFlavorText" class="form-control" value="@Model.CardFlavorText" />
                                                                                             
    @* <label asp-for="CardManaCostString" class="control-label">New Mana Cost</label>     *@
    @* <input type="number" step="0.01" name="Text" class="form-control" value="@Model.CardManaCostString" /> *@
                    
    <input asp-for="CardId" type="hidden" value="@Model.CardId" name="CardId"/>
    <input type="submit" value="Update Card" class="btn btn-primary" />
}