@model MtgCustomCardsApp0._2.Models.Card

@using (Html.BeginForm("UpdateCardToDatabase", "Cards", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h2 class="text-center display-5">Update @Model.Name</h2>
  
    <div class="container d-flex align-items-center justify-content-center">
        

        <div class="card">
            <div class="card-body">

                <form>

                    <!-- 2 column grid layout with text inputs for card name and mana cost -->
                    <div class="mt-1 row">
                        <div class="col-sm-9">
                            <fieldset class="form-outline">
                                <input id="card-name" class="form-control bg-dark" name="Name" type="text" maxlength="22" required value="@Model.Name"/>
                                <label class="form-label" for="card-name">Card Name</label>
                            </fieldset>
                        </div>

                        <div class="col-sm-3">
                            <input id="mana-cost" class="form-control bg-dark" name="CardManaCostString" type="text" maxlength="22" value="@Model.CardCost.ToString()"/>
                            <label for="mana-cost">Mana Cost</label>
                        </div>
                    </div>

                    <!--Card image field-->
                    <!--Full width grid layout for image-->
                    <div class="mt-2" asp-for="img">
                        <input type="file" class="form-control" id="imageInput" accept="image/*" name="img" onclick="uploadImage()" asp-for="CardImg" value="">
                        <div id="imagePreview" class="mt-2"></div>
                    </div>

                    <!-- 2 column grid layout with text inputs for card type and card sub type -->
                    <div class="mt-2 row">
                        <div class="col-sm-3 mt-2 text-center">
                            <fieldset class="form-check-end form-switch">
                                <input class="form-check-input" id="card-isLegendary" name="IsLegendary" type="checkbox" role="switch" asp-for="CreateCardRequest.IsLegendary" value="true"/>
                                <label for="card-isLegendary" class="form-check-label text-end">Legendary</label>
                            </fieldset>
                        </div>
                        
                        <div class="col-sm-5">
                            <fieldset class="form-outline">
                                <input id="card-type" class="form-control bg-dark" name="Type" type="text" maxlength="22" value="@Model.Type"/>
                                <label for="card-type">Card Type</label>
                            </fieldset>
                        </div>

                        <div class="col-sm-4">
                            <fieldset class="form-outline">
                                <input id="card-sub-type" class="form-control bg-dark" name="SubType" type="text" maxlength="22" value="@Model.SubType"/>
                                <label for="card-sub-type">Card Sub-Type</label>
                            </fieldset>
                        </div>
                    </div>

                    <div class="mt-2 row">
                        <fieldset id="card-text-field">
                            <textarea class="col-sm-12 bg-secondary" id="card-text" name="CardText" maxlength="266">@Model.CardText</textarea>
                            <label for="card-text">Card Text</label>
                        </fieldset>
                    </div>

                    <div class="mt-2 row">
                        <fieldset id="card-flavor-text-field">
                            <textarea class="col-sm-12 bg-secondary fst-italic" id="card-flavor-text" name="CardFlavorText" maxlength="82">@Model.CardFlavorText</textarea>
                            <label for="card-flavor-text">Card Flavor Text</label>
                        </fieldset>
                    </div>

                    <div class="mt-2 row">
                        <div class="col-sm">
                            <fieldset class="form-outline">
                                <input id="card-power" class="form-control bg-dark" name="Power" type="text" maxlength="22" value="@Model.Power"/>
                                <label for="card-power">Power</label>
                            </fieldset>
                        </div>

                        <div class="col-sm">
                            <fieldset class="form-outline">
                                <input id="card-toughness" class="form-control bg-dark" name="Toughness" type="text" maxlength="22" value="@Model.Toughness"/>
                                <label for="card-toughness">Toughness</label>
                            </fieldset>
                        </div>
                    </div>
                    <div class="mt-2 row">
                        <div class="col-sm-3">
                            <select class="form-select form-select-sm" name="Rarity">
                                <option value="C">Common</option>
                                <option value="U">Uncommon</option>
                                <option value="R">Rare</option>
                                <option value="M">Mythic</option>
                            </select>
                        </div>
                        <div class="col-sm-9">
                            <fieldset class="form-outline">
                                <input id="card-illus" value="@Model.Illustrator" class="form-control bg-dark" name="Illustrator" type="text" maxlength="22"/>
                                <label for="card-illus">Illustrator</label>
                            </fieldset>
                        </div>
                    </div>

                    <input asp-for="CardId" type="hidden" value="@Model.CardId" name="CardId"/>
                    <button class="btn card-footer container-fluid mt-3 col-sm-5 bg-dark" id="create-btn" type="submit" value="Update Card">Update Card</button>
                </form>
            </div>
        </div>
    </div>
}