@model MtgCustomCardsApp0._2.Models.Card


<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        @* <th>ID</th> *@
        <th>Name</th>
        <th>Power</th>
        <th>Toughness</th>
        <th>Text</th>
        <th>Type</th>
        <th>SubType</th>
        <th>Flavor</th>
    </tr>
    <tr>
        @* <td>@Model.CardId</td> *@
        <td>@Model.Name</td>
        <td>@Model.Power</td>
        <td>@Model.Toughness</td>
        <td style="word-break: break-word">@Model.CardText</td>
        <td>@Model.Type</td>
        <td>@Model.SubType</td>
        <td style="word-break: break-word" class="fst-italic">@Model.CardFlavorText</td>
    </tr>
</table>

<div style="display: flex" class="mt-5 row justify-content-start">

    <div class="col-sm-2">
        <form action="/Cards/UpdateCard/@Model.CardId">
            <input type="submit" value="Update">
        </form>
    </div>

    <div class="col-sm-2">
        @using (Html.BeginForm("DeleteCard", "Cards", "Post"))
        {
            <form>
                <input type="hidden" asp-for="CardId" name="CardId" value="@Model.CardId"/>
                <input type="submit" onclick="return confirm('Are you sure?')" value="Delete"/>
            </form>
        }
    </div>
</div>